// Use the gear_dropdown.png screenshot as a style guide

@use '../variables' as *;

#gear {
  position: relative;
}

.gear-dropdown {
  display: none;
  position: absolute;
  right: 7px;
  z-index: 1;
  padding: 0 10px;
}

#gear:hover .gear-dropdown {
  display: block;
  border: 1;
  box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);
  width: 150px;
  background: white;

  li {
    padding: 10px 0px;
    border-radius: 3px;
  }
}

.dropdown-subtitle {
  font-weight: 700;
  font-family: 'nyt-franklin', Arial, Helvetica, sans-serif;
  color: #666;
  text-transform: uppercase;
  
}

.editions li {
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
  color: gray;

  a {
    text-decoration: none;
  }
}

.help li {
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
  

  a {
    text-decoration: none;
    color: rgb(53, 104, 255)
  }
}



.editions li:hover {
  background: rgb(213, 212, 212);
}

.help li:hover {
  text-decoration: underline;
}

.editions {
  border-bottom: 1px solid gray;
}