@use '../variables' as *;

.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 5px 0px;
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  border-bottom: 1px solid lightgray;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
  
}

.left-nav {

  > ul {
    > li {
      margin: 5px;
      padding: 5px;
    }
  }

  span {
    
  }
}

.right-nav  {
  > ul {
    > li {
      margin: 5px;
      
    }

    > li:last-of-type {
      
    }
  }
  
  i {
    font-size: 25px;
  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background: $lightest-gray;
  cursor: pointer;
}

    
.main-nav button{
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  background: #6288a5;
  padding: 5px;
  border-radius: 3px;
  color: white;
  border-color: #4d7b9f;
  font-weight: 700;
}