<div class="masthead">
  <nav class="language-nav">
    <ul>
      <li><a href="#">CSS</a></li>
      <li><a href="#">HTML</a></li>
      <li><a href="#">Javascript</a></li>
      <li><a href="#">Ruby</a></li>
      
    </ul>


  </nav>

  <div class="logo">
    <img src="/assets/AA_Times_Logo.png" alt="App Academy Times">
  </div>

    <ul class="masthead-links">
      <li><time>Tuesday, October 18, 2016</time></li>
      <li>
        <i class="fa-sharp fa-regular fa-newspaper"></i>
        <button><a href="#">Today’s Paper</a></button>
      </li>
        <li>
            <i class="fa-solid fa-video"></i>
            <button><a href="#">Video</a></button>
        </li>
      <li>
        <button>77°F</button>
        </li>
      <li>
      <button>AAO <strong>+100%</strong></button></li>
    </ul>
</div>


